<p>
    <mat-toolbar color="primary">
        <div>
            <button routerLink="/home" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            </button>
            <span>Base de datos gestor</span>
        </div>
        <div>
            <button routerLink="/createTable" mat-raised-button>
                <mat-icon>add_box</mat-icon> Agregar Tabla
            </button>
        </div>
        <div></div>
    </mat-toolbar>
</p>